/** Custom Properties */
:root {
    --primary-color: #271F30;
    --secondary-color: #29a586;
    --background-color: #F0EFF4;
    --secondary-background-color: #789cd5;
    --danger-color: #E01A4F;
    --base-space: 1rem;
    --base-space-small: calc(var(--base-space) / 2);
    --border-radius: var(--base-space-small);
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-serif: 'Playfair Display', serif;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/** Device List **/

.device-list__items, .location-list__items{
    display: grid;
    grid-gap: var(--base-space-small);
    grid-template-columns: 1fr 1fr 1fr;
}

.device-list__item, .location-list__item{
    background: var(--secondary-background-color);
    padding: var(--base-space);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: var(--base-space-small);
}

.heading--size-1{
    text-align: center;
}