/** Custom Properties 1*/
:root {
    --primary-color: #271F30;
    --secondary-color: #29a586;
    --background-color: #F0EFF4;
    --secondary-background-color: #789cd5;
    --danger-color: #E01A4F;
    --base-space: 1rem;
    --base-space-small: calc(var(--base-space) / 2);
    --border-radius: var(--base-space-small);
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-serif: 'Playfair Display', serif;
}


* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: var(--font-family-sans-serif);
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 var(--base-space);
}

/** Device List **/

.device-list__items, .location-list__items{
    display: grid;
    grid-gap: var(--base-space-small);
    grid-template-columns: 1fr 1fr 1fr;
}

.device-list__item, .location-list__item{
    background: var(--secondary-background-color);
    padding: var(--base-space);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: var(--base-space-small);
}

.heading--size-1{
    text-align: center;
}

.device-list__add-button {
    display: inline-block;
    padding: var(--base-space-small) var(--base-space);
    background: var(--secondary-color);
    color: var(--background-color);
    font-size: 1rem;
    line-height: inherit;
    text-decoration: none;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

/** Header */
.header {
    padding: var(--base-space) 0;
    background: var(--secondary-color);
}

.header__container {
    display: flex;
    gap: var(--base-space);
}

@media screen and (max-width: 640px) {
    .header__container {
        flex-direction: column;
    }
}

.header__logo {
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    gap: var(--base-space-small);
}

.header__icon {
    font-size: 2.5rem;
    line-height: 1;
}

.header__text {
    font-size: 2rem;
    font-family: var(--font-family-serif);
    font-weight: bold;
    line-height: 2.5rem;
}

.header__search {
    flex: 1;
    display: flex;
}

.header__input {
    flex: 1;
    font-size: 1rem;
    height: 2.5rem;
    padding: var(--base-space-small);
    margin: 0;
    border: 2px solid var(--primary-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.header__submit {
    font-size: 1rem;
    height: 2.5rem;
    cursor: pointer;
    padding: var(--base-space-small) var(--base-space);
    margin: 0;
    background: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

@media screen and (max-width: 800px) {
    .device-list__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 640px) {
    .device-list__items {
        grid-template-columns: 1fr;
    }
}